@{
    ViewData["Title"] = "Room 3";
    Layout = "_Layout";
}

@section Styles {
    <style>
        body {
            background-image: url("/imgs/room3.png");
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm border-0 transparent-white spooky-white">
            <div class="card-body" style="background: transparent;">
                <h1 class="card-title text-center mb-4">@ViewData["Title"]</h1>

                <form asp-action="Room3" method="post" class="needs-validation">
                    @Html.AntiForgeryToken()

                    <div class="mb-3">
                        <pre>
                            Tip <span>&#x1F4A1;</span>: 
                            "Middleware" / "Como se llama el Profe"
                        </pre>
                        <label for="x" class="form-label">Existe un SECRET KEY escondido en el codigo:</label>
                        <input type="text" id="x" name="x" class="form-control spooky-input-white" required />
                    </div>

                    <button type="submit" class="btn btn-primary w-100 spooky-button-dr">Beat Me</button>
                </form>
            </div>
        </div>
    </div>
</div>
